main{
    margin: auto;
    width: fit-content;
    background:#d5f5fac9;
    padding: 30px;
    border: 1px grey solid;
    border-radius:5px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji","微軟正黑體";
}
.title{
    text-align:center;
    font-size:32px; 
}
input{
    font-size:16px;
    padding:10px;
    margin:10px 0;
    border:1px gray solid;
    border-radius:5px;
    width:-webkit-fill-available;    
}
ul{
    margin: 5px 0;
    padding: 0;
    background:white;
    
}
li{
    list-style:none;
    cursor: pointer;
    padding:10px;
    border:0.5px gray solid;
    border-left:1px gray solid;
    border-right:1px gray solid;
    box-sizing:border-box;
}
li:first-child{
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    border-top:1px solid grey;
}
li:last-child{
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom:1px solid grey;
}
li:before{
    content:"";
    display:inline-block;
    width:10px;
    height:10px;
    border-radius:50%;
    border:1px solid grey;
    margin-right:5px;
}
li.completed:before{
    border:1px solid #0062cc;
}
li.choose:before{
    background: grey;
}
li.choose.completed:before{
    background: #007bffad;
}
.action_icon{
    width: 20px;
    height: 20px;
    margin:5px;
}
#complete{
  margin-left:10px
}
button{
    color: #fff;
    background: #17a2b8;
    padding:5px 10px;
    border-color: #17a2b8;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border:1px solid transparent;
    border-radius: 3px;
    border:1px solid transparent;
}
button:hover{
    background-color: #14879a;
    border-color: #197f8f;    
}
.list_num{
    font-size:14px
}
#all_list{
    margin-left:15px;
}
#complete_list{
    margin-right:15px;
}
