body{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -10%;
}

.word{
    font-family: "微軟正黑體";
    font-size: 22pt;
    font-weight: bold
}

.allPage > div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}
